apiVersion: apps/v1
kind: Deployment
metadata:
  name: ollama
  namespace: ollama
  labels:
    app: ollama
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ollama
  template:
    metadata:
      labels:
        app: ollama
    spec:
      containers:
      - name: ollama
        image: docker.io/ollama/ollama:0.13.0
        env:
        - name: OLLAMA_CONTEXT_LENGTH
          value: "130000"
        ports:
        - containerPort: 11434
          name: http
        resources:
          requests:
            cpu: "1"
            memory: "1Gi"
            nvidia.com/gpu: 1
          limits:
            cpu: "3"
            memory: "5Gi"
            nvidia.com/gpu: 1
        volumeMounts:
          - name: ollama-data
            mountPath: /root/.ollama
            readOnly: false
            subPath: ollama
      volumes:
        - name: ollama-data
          persistentVolumeClaim:
            claimName: ollama-data
